---
layout: page
title: Who is Lalas?
tagline: <a href="https://github.com/lalas/quantitativeThoughts">Lalas</a> R Blog and Code
---

{% include JB/setup %}

{% for post in paginator.posts %}
   <!-- here add you post markup -->
   <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
   <p class="author">
    <span class="date">{{post.date | date: "%Y-%m-%d"}}</span>
	{% unless post.author == empty %} by {{post.author}} {% endunless %}
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <div class="content-space"></div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination pagination-centered">
  <ul>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li class="prev"><a href="{{ BASE_PATH }}/" title="Previous page">Prev</a></li>
    {% else %}
      <li class="prev"><a href="{{ BASE_PATH }}/page{{paginator.previous_page}}" title="Previous page">Prev</a></li>
    {% endif %}
  {% else %}
    <li class="prev disabled"><a>Prev</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li class="next"><a href="{{ BASE_PATH }}/page{{paginator.next_page}}" title="Next page">Next</a></li>
  {% else %}
    <li class="next disabled"><a>Next</a>
  {% endif %}
  </ul>
</div>

<br>

<!--Adding Twitter widget: info taken from: http://www.outboxonline.com/social-media/tweet-blog/ -->
<h1 align="center">Twitter feed section</h1>
<br>

<div class="row">
  <div class="span6">
	  <a class="twitter-timeline" href="https://twitter.com/hashtag/rstat" data-widget-id="487136321945616384">#rstat Tweets</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  
  <div class="span6">
	  <a class="twitter-timeline" href="https://twitter.com/hashtag/Datascience" data-widget-id="487708691219509248">#Datascience Tweets</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	  
  </div>
  
</div>
<br>

<!-- Adding interactive R code widget as described in http://statisfactions.com/2013/interactive-r-code-widget/ -->

<h1 align="center">R-Corner</h1>
<br>

<div class="row">
	<script src="http://aleph.sagemath.org/static/jquery.min.js"></script>
	<script src="http://aleph.sagemath.org/static/embedded_sagecell.js"></script>
	<script> $(function () {
	    	sagecell.makeSagecell({inputLocation: 'div.compute-r',
	                           	   evalButtonText: 'Evaluate',
	                           	   defaultLanguage: "r", 
	                           	   languages: sagecell.allLanguages});
	});
	</script>
	<div class="compute-r" style="width:95%; margin-left: 3%;"><script type="text/x-sage">
	print("Hello visitor")
	</script></div>
</div>





